body {
    /* font-family: Arial, sans-serif;
    background-image: url("./assets/background-display.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    height: 100%;
    width: 100%; */
    /* color: #4caf50; */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("journalbg.jpeg");
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
    height: 100vh; /* Ensure the background covers the entire viewport height */
    justify-content: center;
    align-items: center;
  }
  
  .container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    /* background-color: rgba(0, 128, 0, 0.8); Green theme */
    border-radius: 10px;
    /* border: solid; */
    color:green
  }
  
  textarea {
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
    padding: 20px;
    /* border: 1px solid #121010; */
    border-radius: 5px;
    background-color: transparent;
    color: #f8f2f2;
  }
  
  button {
    background-color: green;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 10px;
  }
  
  button:hover {
    background-color: #03aaa2;
  }

  html{
    scroll-behavior: smooth;
}

/* CSS Variables */
:root{
    --navbar-height: 59px;
}

/* Navigation Bar */
#navbar{
    display: flex;
    align-items: center;
    position: sticky;
    top: 0px;
    /* box-shadow: 0px 2.9825px 7.4564px rgba(0,0,0,0.1); */
    box-shadow: h-offset v-offset blur spread color;
}

#navbar::before{
    content: "";
    background-color: black;
    position: absolute;
    top:0px;
    left:0px;
    height: 100%;
    width:100%;
    z-index: -1;
    opacity: 0.7;
}

/* Navigation Bar: Logo and Image */
#logo{
    margin: 10px 34px;
}

#logo img{
    height: 59px;
    margin: 3px 6px;
}


/* Navigation Bar: List Styling */

#navbar ul{
    display: flex;
    font-family: 'Baloo Bhai', cursive;
}

#navbar ul li{ 
    list-style: none;
    font-size: 1.3rem;
}

#navbar ul li a{
    color: white;
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
}

#navbar ul li a:hover{
    color: black;
    background-color: white;
}