/* body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
} */
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("./assets/background.jpeg"); /* Replace 'background-image.jpg' with the path to your image */
    background-size: cover; /* Cover the entire background */
    background-position: center; /* Center the background image */
    height: 100vh; /* Ensure the background covers the entire viewport height */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
.login{
    background-color:#4caf50;
}

.login-container {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.green-text {
  text-align: center;
  color: #4caf50; /* Green theme color */
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;

  color: #666;
}

.input-group input {
  width: 93%;
  padding: 10px;
  border: 1px solid #4caf50; /* Green border color */
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50; /* Green button background color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049; /* Darker green on hover */
}

/*For signup page */

body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.signup-container {
  width: 300px;
  margin: 100px auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

h2 {
  text-align: center;
  color: #4caf50; /* Green theme color */
}

.input-group {
  margin-bottom: 15px;
}

.input-group label {
  display: block;
  margin-bottom: 5px;
  color: #666;
}

.input-group input {
  width: 93%;
  padding: 10px;
  border: 1px solid #4caf50; /* Green border color */
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #4caf50; /* Green button background color */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049; /* Darker green on hover */
}